{
    "presets": [
        [
            "env",
            {
                "loose": true,
                "modules": false
            }
        ],
        "react"
    ],
    "plugins": [
        "babel-plugin-transform-class-properties",
        [
            "import",
            {
                "libraryName": "antd-mobile",
                "libraryDirectory": "es",
                "style": "css"
            }
        ]
    ]
}